.header{
    display:grid;
    background-color: beige;
    grid-template-rows: 10vh 8vh;
    grid-template-columns: 15vw 55vw 15vw 15vw ;
}

.logotype{
    font-size: 30px;
    padding: 3%;
    margin-left: 5%;
    color: black;
    text-decoration: none;
}

.login_link{
    grid-row: 2;
    grid-column: 4;
    text-decoration: none;
    color: black;
    padding: 4%;
    font-size: 24px;

}

.register_link{
    grid-row: 2;
    grid-column: 3;
    text-decoration: none;
    color: black;
    padding: 4%;
    font-size: 24px;

}

.logout_link{
    grid-row: 2;
    grid-column: 4;
    text-decoration: none;
    color: black;
    padding: 4%;
    font-size: 24px;
}

.create_ad_link{
    grid-row: 2;
    grid-column: 1;
    text-decoration: none;
    color: black;
    padding: 4%;
    font-size: 24px;
}

.profile_link{
    grid-row: 2;
    grid-column: 3;
    height: 55px;
    width: 55px;
    margin-left: 40%;
}

.profile_link_img{
    height: 100%;
    width: 100%;
}

.admin_link{
    grid-row: 1;
    grid-column: 4;
}


.ad_section{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.ad{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 50% 50%;
    height: 20vh;
    width: 30vw;
    margin: 5px;
    margin-top: 5%;
    border: solid;
}

.picture{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    height: 250%;
    width: 100%;
    justify-content: left;

}

.ad_name{
    grid-row: 1;
    grid-column: 1; 
    font-size: 24px;
    margin-bottom: 40%;
    font-weight: bold;
    margin-left: 2%;
}

.ad_desc{
    grid-row: 2;
    grid-column: 1;
    font-size: 18px;
    margin-left: 2%;
}

.ad_price{
    grid-row: 1;
    grid-column: 1;
    color: red;
    margin-top: 12%;
    margin-left: 65%;
    font-size: 18px;
}

.login_form_container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.login_form{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    border: solid;

}

.login_username{
    grid-row: 1;
    height: 10vh;
    width: 40vw;
    margin-top: 7%;
}

.login_password{
    grid-row: 2;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.login_submit{
    grid-row: 3;
    height: 5vh;
    width: 20vw;
    margin-top: 6%;
    margin-left: 25%;
}

.login_form_container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.login_form{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    border: solid;

}

.login_username{
    grid-row: 1;
    height: 10vh;
    width: 40vw;
    margin-top: 7%;
}

.login_password{
    grid-row: 2;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.login_submit{
    grid-row: 3;
    height: 5vh;
    width: 20vw;
    margin-top: 6%;
    margin-left: 25%;
}

.login_form_container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.login_form{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    border: solid;

}

.login_username{
    grid-row: 1;
    height: 10vh;
    width: 40vw;
    margin-top: 7%;
}

.login_password{
    grid-row: 2;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.login_submit{
    grid-row: 3;
    height: 5vh;
    width: 20vw;
    margin-top: 6%;
    margin-left: 25%;
}

.login_form_container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.login_form{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    border: solid;

}

.login_username{
    grid-row: 1;
    height: 10vh;
    width: 40vw;
    margin-top: 7%;
}

.login_password{
    grid-row: 2;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.login_submit{
    grid-row: 3;
    height: 5vh;
    width: 20vw;
    margin-top: 6%;
    margin-left: 25%;
}

.register_form_container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.register_form{
    width: 50vw;
    height: 80vh;
    margin-top: 10vh;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    border: solid;

}

.register_username{
    grid-row: 1;
    height: 10vh;
    width: 40vw;
    margin-top: 7%;
}

.register_phone_number{
    grid-row: 2;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.register_password{
    grid-row: 3;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.register_password_confirm{
    grid-row: 4;
    height: 10vh;
    width: 40vw;
    margin-top: 6%;
}

.register_submit{
    grid-row: 5;
    height: 5vh;
    width: 20vw;
    margin-top: 6%;
    margin-left: 25%;
}

.profile_ad{
    display: grid;
    grid-template-rows: 35% 50% 15%;
    grid-template-columns: 50% 50%;
    height: 30vh;
    width: 30vw;
    margin: 5px;
    margin-top: 5%;
    border: solid;
}

.ad_edit_link{
    grid-row: 3;
    grid-column: 1;
}

.ad_delete_form{
    grid-row: 3;
    grid-column: 2;
}
